
<h1>Listing Schools</h1>
    <% @schools.each do |school| %>
      <p><%= school.title %></p></br>
      <p><%= link_to "Details", school_path(school.id) %></p>
    <% end %>
</br>
<%= link_to 'New School', new_school_path %>
