 	<%= form_for @school do |f| %>
    		<p><%= f.text_field :title, :placeholder =>"School name" %></br></p>
        <p><%= f.number_field :num_of_grades, in: 1..10, step:1 %></p>
        <%= f.submit "Create" %>
		<% end %>
