<html>
<head>

</head>
<table border="1">
<% for i in 1..@school.num_of_grades do %>
<tr>
<th>Class<%= i %></th>
  <% @school.pupils.all.select{|n| n.grade == i }.each do |g| %>
    <td><a href="#" id="special" ><%= g.first_name%> <%= g.last_name %></a>
    </td>
  <% end %>
</tr>
<% end %>
</table>
</html>
